html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 960px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#bookmarking {
	overflow: hidden;
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#bookmarking h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}

#bookmarking input[type="text"] {
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#all-tags input[type="text"] {
	width: 100%;
}

#bookmarking input::-webkit-input-placeholder {
	font-style: italic;
}

#main {
	display: none;
}

#bookmarks,
#all-tags,
.bookmarks,
.all-tags {
	margin: 10px 0;
	float: left;
	width: 80%;
}

#all-tags,
.all-tags {
	width: 20%;
	float: right;
}

#all-tags,
#bookmarks {
	padding: 0;
	list-style: none;
}

#all-tags {
	line-height: 0.7em;
}

#all-tags li,
#bookmarks li {
	list-style-type: none;
	padding: 18px 20px 18px 0;
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}


#all-tags li:last-child,
#bookmarks li:last-child {
	border-bottom: none;
}


#all-tags li.editing,
#bookmarks li.editing {
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}


#all-tags li.editing:last-child,
#bookmarks li.editing:last-child {
	margin-bottom: -1px;
}


#all-tags li.editing .edit,
#bookmarks li.editing .edit {
	display: block;
	width: 444px;
	padding: 13px 15px 14px 20px;
	margin: 0;
}


#all-tags li.editing .view,
#bookmarks li.editing .view {
	display: none;
}


#all-tags li .view label,
#bookmarks li .view label {
	line-height: 1.5em;
	word-break: break-word;
}


#all-tags li .edit,
#bookmarks li .edit {
	display: none;
}

#bookmarks li .tags li {
	display: inline-block;
	padding: 0 0.8em;
	margin-right: 1em;
	background: #efefef;
	border: 1px solid #ccc;
	font-weight: normal;
	font-style: italic;
	font-size: 0.5em;
	border-radius: 8px;
}

#bookmarks li .tags {
	padding: 0;
}

#bookmarks li .tags li p {
	margin: 0;
	line-height: 1.5em;
}

#instructions {
	margin: 10px auto;
	color: #777777;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}

#instructions a {
	color: #336699;
}

